.login-page {
  background: linear-gradient(135deg, #1e1e2f, #2c2c54);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .login-card {
    width: 380px;
    max-width: 90%;
    background-color: rgba(42, 42, 64, 0.95);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  .footer-login {
    background: transparent;
    color: #aaa;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  img {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 10px rgba(2, 91, 7, 0.6);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 30px rgba(4, 169, 20, 0.7), 0 0 15px rgba(2, 91, 7, 0.8);
    }}
}
