.login-page {

  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* garante altura total da tela */
  padding-top: 0; /* remove margens indesejadas */
  background: linear-gradient(135deg, #1e1e2f, #2c2c54); 
  flex-direction: column;
  margin: 0;
  padding: 0;
  

  .login-card {
    background-color: rgba(42, 42, 64, 0.95);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  .logo-container {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      transform: scale(0.95);
      filter: brightness(1.1);
    }

  }

  .login-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 6px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4), 0 0 6px rgba(2, 91, 7, 0.6);
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 0 22px rgba(4, 169, 20, 0.7), 0 0 10px rgba(2, 91, 7, 0.8);
    }
  }

  .login-logo-small {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), 0 0 4px rgba(2, 91, 7, 0.6);
    transition: all 0.3s ease-in-out;
  }

  /* Transições entre logo e formulário */
  .fade-slide-enter-active,
  .fade-slide-leave-active {
    transition: all 0.6s ease;
  }

  .fade-slide-enter-from {
    opacity: 0;
    transform: translateY(20px);
  }

  .fade-slide-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
